dist: trusty
sudo: required
language: scala
addons:
  chrome: stable
jdk:
- oraclejdk8
scala:
- 2.12.6
- 2.11.12
cache:
  directories:
    - "$HOME/.ivy2/cache"
    - "$HOME/.sbt/boot"
before_install:
  - sudo apt-get update
  - sudo apt-get install -y libunwind8-dev
  - sudo apt-get install -y libre2-dev
before_script:
- nvm install 10 # nodejs < 10 fails finding URL class
- version=$(curl -s https://chromedriver.storage.googleapis.com/LATEST_RELEASE) &&
    wget "https://chromedriver.storage.googleapis.com/$version/chromedriver_linux64.zip"
- mkdir -p chromedriver && unzip chromedriver_linux64.zip -d chromedriver/
- export PATH="$PATH:$PWD/chromedriver/"
script:
- sbt rootNative/test

# sbt ++$TRAVIS_SCALA_VERSION rootJVM/test &&
#      xvfb-run sbt ++$TRAVIS_SCALA_VERSION rootJS/test &&

